<section class="o-section o-section--2" id="amigo-de-campo" data-flout="justify-end-- wrap--">
  <div class="u-5/12">
    <div class="cta cta--2">
      <h2>Parque do<br>Amigo</h2>
      <label class="o-modal-label" for="toggle_amigo">entrar</label>
    </div>
    <a class="link-road link-road--2 placa-right" href="#morada"><img src="{{ site.baseurl }}/assets/images/next.svg" alt="continuar"/></a>
  </div>
</section>
<input type="checkbox" class="o-modal~~trigger u-sr-only" id="toggle_amigo">
<div class="o-modal">
  <div class="o-modal--content">
    <div class="o-grid">
      <div class="o-grid__col u-5/12">
        <img src="{{ site.baseurl }}/assets/images/modal-2.svg" alt="imagem"/>
      </div>
      <div class="o-grid__col u-7/12">
        <h3>Amigo de Campo</h3>
        <p>O amigo de campo é uma pessoa que não está no campo, mas que está em contacto frequente com os diretores e sabe como tudo está a correr!</p>
        <br/>
        <p><b>O nosso amigo de campo é o Guilherme Beato, mais conhecido como Gui (915882261) e vai estar contactável por telemóvel todos os dias do campo, entre as 14h e as 15h.</b></p>
        <br/>
        <p>No entanto, existe a forte possibilidade de o Gui estar a visitar o campo ou a trabalhar pelo que, para casos não urgentes, pedimos que privilegiem o contacto por SMS/whatsapp.<br>Além da possibilidade de falarem ao telefone, este amigo incrível enviará mails regulares com novidades sobre o campo!</p>
      </div>
    </div>
    <label class="o-modal-close" for="toggle_amigo">voltar ao caminho</label>
  </div>
</div>