<section class="o-section o-section--8" id="covid">
  <div class="o-section__container u-12/12 u-5/12@sm">
    <div class="cta cta--8">
      <h2><span>Cordilheira do</span><br>Bicharoco</h2>
      <label class="o-modal-label" for="toggle_covid">entrar</label>
    </div>
    <a class="link-road link-road--8 placa-right placa-left@sm" href="#ate-ja"><img src="{{ site.baseurl }}/assets/images/next.svg" alt="continuar"/></a>
  </div>
</section>
<input type="checkbox" class="o-modal~~trigger u-sr-only" id="toggle_covid">
<div class="o-modal">
  <div class="o-modal--content">
    <div class="o-grid">
      <div class="o-grid__col u-4/12">
        <img src="{{ site.baseurl }}/assets/images/modal-8.svg" alt="imagem"/>
      </div>
      <div class="o-grid__col u-8/12">
        <h3>COVID-19</h3>
        <p>Por fim, não podemos deixar de falar da <b>COVID-19</b>.<br>Tendo em conta as atuais diretrizes do SNS, não é obrigatório testarmos. Contudo, aconselhamos a que o façam e partilhem o resultado connosco, por e-mail. Nós também o vamos fazer e sentimos que ficamos todos mais descansados se testarmos negativo antes de nos encontrarmos.</p>
      </div>
      
    </div>
    <label class="o-modal-close" for="toggle_covid">voltar ao caminho</label>
  </div>
</div>