<section class="o-section" id="covid">
  <div class="u-5/12">
    <h2>COVID-19</h2>
    <div class="u-hidden">
      <p>Por fim, não podemos deixar de falar da <b>COVID-19</b>. Tendo em conta as atuais diretrizes do SNS, não é obrigatório testarmos. Contudo, aconselhamos a que o façam e partilhem o resultado connosco, por e-mail. Nós também o vamos fazer e sentimos que ficamos todos mais descansados se testarmos negativo antes de nos encontrarmos.</p>
    </div>
    <a href="#ate-ja">Continuar</a>
  </div>
</section>
