<section class="o-section o-section--8" id="covid">
  <div class="u-5/12">
    <div class="cta cta--8">
      <h2>Cordilheira do<br>Bicharoco</h2>
      <label class="o-modal-label" for="toggle_covid">entrar</label>
    </div>
    <a class="link-road link-road--8 placa-left" href="#ate-ja"><img src="{{ site.baseurl }}/assets/images/next.svg" alt="continuar"/></a>
  </div>
</section>
<input type="checkbox" class="o-modal~~trigger u-sr-only" id="toggle_covid">
<div class="o-modal">
  <div class="o-modal--content">
    <p>Por fim, não podemos deixar de falar da <b>COVID-19</b>. Tendo em conta as atuais diretrizes do SNS, não é obrigatório testarmos. Contudo, aconselhamos a que o façam e partilhem o resultado connosco, por e-mail. Nós também o vamos fazer e sentimos que ficamos todos mais descansados se testarmos negativo antes de nos encontrarmos.</p>
    <label class="o-modal-close" for="toggle_covid">voltar ao caminho</label>
  </div>
</div>