<section class="o-section o-section--1" id="directoras">
  <div class="u-5/12">
    <div class="cta cta--1">
      <h2>Farol<br>da Direcção</h2>
      <label class="o-modal-label" for="toggle_directoras">entrar</label>
    </div>
    <a class="link-road link-road--1 placa-left" href="#amigo-de-campo"><img src="{{ site.baseurl }}/assets/images/next.svg" alt="continuar"/></a>
  </div>
</section>
<input type="checkbox" class="o-modal~~trigger u-sr-only" id="toggle_directoras">
<div class="o-modal">
  <div class="o-modal--content">
    <div class="o-grid">
      <div class="o-grid__col u-5/12">
        <img src="{{ site.baseurl }}/assets/images/modal-1.svg" alt="imagem"/>
      </div>
      <div class="o-grid__col u-7/12">
        <h3>Olá!</h3>
        <p>Bem-vindos ao Campo de <b>Pinóquios 2022!</b><br>Para os pais e encarregados e também para os pinóquios aqui fica tudo o que é preciso saber de mais importante.</p>
        <br/>
        <p>Os <b>diretores</b> desta viagem até Pousa são:</p>
        <br/>
        <div class="o-grid">
          <div class="o-grid__col u-4/12">
            <b>Beatriz Rodrigues</b><br>(968362314)
          </div>
          <div class="o-grid__col u-4/12">
            <b>Daniela Cunha</b><br>(914581286)
          </div>
          <div class="o-grid__col u-4/12">
            <b>Mafalda Magro</b><br>(913547244)
          </div>
        </div>
        <p>As diretoras só devem ser contactadas até ao início do campo, pois durante o mesmo vão estar atarefadas. Mas não se preocupem! Terão alguém com quem falar durante o campo para saberem todas as novidades fresquinhas sobre os pinóquios.</p>
      </div>
    </div>
    <label class="o-modal-close" for="toggle_directoras">voltar ao caminho</label>
  </div>
</div>