<section class="o-section" id="inicio">
  <div>
    <h1>Pinóquios 2022</h1>
    <p>5 a 13 de Agosto</p>
    <p>Pousa, Barcelos</p>
  </div>
  <div>
    <p>Porque viajamos? O que torna a partida para o desconhecido irresistível para alguns? Será que já faz parte de nós?<br>Há séculos, construímos barcos capazes de atravessar o oceano para conquistar novos mundos. Hoje, rasgamos os céus para conhecer novas culturas e experimentar novos sabores.<br>Deste lado, também sentimos o entusiasmo de partir em viagem à descoberta de novos mundos, dentro e fora de nós, e estamos muito felizes por saber que vocês irão connosco! Esperamos que estejam tão ansiosos como nós para ir à aventura. Sair de casa pode ser assustador, mas isto nós prometemos: aquele que regressa de uma viagem não é o mesmo que aquele que partiu.<br>Prepara a tua bagagem e… Todos a bordo! 
    </p>
    <p>Abaixo encontram tudo o que irão precisar.<br>Aguardamos a vossa chegada, viajantes,</p>
    <p>Os animadores de pinóquios.<p>
  </div>
  <a href="#directoras">Começar!</a>
</section>