<img src="{{ site.baseurl }}/assets/images/compass.svg" alt="compasso" class="i-compasso" />
<section class="o-hero" id="inicio">
  <div>
    <h1>Pinóquios 2022</h1>
    <p class="sub-title">5 a 13 de Agosto  /<br class="u-hidden-@sm"> Pousa, Barcelos</p>
  </div>
  <div class="hero-text">
    <p class="theme-title">Se fosse para ficar num só lugar, teríamos raízes em vez de pés.</p>
    <p>Porque viajamos? O que torna a partida para o desconhecido irresistível para alguns? Será que já faz parte de nós?<br>Há séculos, construímos barcos capazes de atravessar o oceano para conquistar novos mundos.<br>Hoje, rasgamos os céus para conhecer novas culturas e experimentar novos sabores.<br>Deste lado, também sentimos o entusiasmo de partir em viagem à descoberta de novos mundos, dentro e fora de nós, e estamos muito felizes por saber que vocês irão connosco! Esperamos que estejam tão ansiosos como nós para ir à aventura. Sair de casa pode ser assustador, mas isto nós prometemos: aquele que regressa de uma viagem não é o mesmo que aquele que partiu.</p>
  </div>
</section>
<section class="o-choose">
  <div class="o-grid">
    <div class="o-grid__col u-12/12 u-5/12@sm o-choose__images">
      <label class="c-traveler-label" for="pato">
        <img src="{{ site.baseurl }}/assets/images/pato.svg" alt="viajante" />
      </label>

      <label class="c-traveler-label" for="coelho">
        <img src="{{ site.baseurl }}/assets/images/coelho.svg" alt="viajante"/>
      </label>

      <label class="c-traveler-label" for="ovelha">
        <img src="{{ site.baseurl }}/assets/images/ovelha.svg" alt="viajante"/>
      </label>

      <label class="c-traveler-label" for="veado">
        <img src="{{ site.baseurl }}/assets/images/veado.svg" alt="viajante"/>
      </label>
      <span class="c-traveler-text">
      Escolhe o teu viajante</span>
    </div>
    <div class="o-grid__col u-2/12 o-choose__spacing">
    </div>
    <div class="o-grid__col u-12/12 u-5/12@sm o-choose__text">
      <p>Prepara a tua bagagem e… Todos a bordo! 
      </p>
      <p>Abaixo encontram tudo o que irão precisar.<br>Aguardamos a vossa chegada, viajantes.</p>
      <br>
      <p><i>Os animadores de pinóquios.</i></p>
      <a class="text-link u-mt-3x" href="#directoras">Começar Viagem!</a>
    </div>   
  </div>
</section>