<section class="o-section" id="levar">
  <h2>O que levar? 👍</h2>
  <div class="u-hidden">
    <p>Pedimos aos pinóquios que levem duas mochilas consigo, uma pequena, para a caminhada, e uma grande, onde levam a sua roupinha e outros bens necessários!</p>

    <h3>Mochila pequena</h3>
    <ul>
      <li>Farnel para o dia da partida (almoço)🍞🍪🍎</li>
      <li>Chapéu 👒</li>
      <li>Cantil com água 💦</li>
      <li>Lanterna com pilhas/bateria 🔦</li>
      <li>Instrumento musical (se tocarem algum) 🎷🎻</li>
      <li>Um livro para ler 📖</li>
      <li>Dinheiro de bolso (5€) 💶</li>
      <li>Envelopes com selos e com remetente e destinatário já escritos 📩</li>
    </ul>

    <h3>Mochila grande</h3>
    <ul>
      <li>Roupa interior para 8 dias (levar um par a mais para alguma emergência)</li>
      <li>Roupa de verão (calções e t-shirts para 8 dias) 👕👗</li>
      <li>Roupa de Inverno (meias para 8 noites, camisolas quentes, calças, casacos) 👖👘</li>
      <li>Pijama, também quentinho 💤</li>
      <li>Impermeável ☔</li>
      <li>Sandálias e sapatilhas resistentes e confortáveis (levar pelo menos dois pares fechados, como garantia) 👟</li>
      <li>Fato de banho e chinelos 👙</li>
      <li>Toalha de banho 🛀</li>
      <li>Artigos de higiene pessoal (escova de dentes, pasta dos dentes, escova de pentear, creme hidratante, etc.) 💆</li>
      <li>Protector solar 🌞</li>
      <li>Gel de banho e shampoo (dos biodegradáveis, para deixarmos a menor pegada possível no local de campo) ♻</li>
      <li>Saco-cama e colchonete ⛺</li>
    </ul>
  </div>
  <a href="#nao-levar">Continuar</a>
</section>
