<section class="o-section o-section--4" id="levar" data-flout="justify-end-- wrap--">
  <div class="u-5/12">
    <div class="cta cta--4">
      <h2>Lago<br>Mochilas</h2>
      <label class="o-modal-label" for="toggle_levar">entrar</label>
    </div>
    <a class="link-road link-road--4 placa-right" href="#nao-levar"><img src="{{ site.baseurl }}/assets/images/next.svg" alt="continuar"/></a>
  </div>
</section>
<input type="checkbox" class="o-modal~~trigger u-sr-only" id="toggle_levar">
<div class="o-modal">
  <div class="o-modal--content">
    <div class="o-grid">
      <div class="o-grid__col u-12/12">
        <h3>O que levar?</h3>
        <p>Pedimos aos pinóquios que levem duas mochilas consigo, uma pequena, para a caminhada, e uma grande, onde levam a sua roupinha e outros bens necessários!</p>
      </div>
      <div class="o-grid__col u-6/12">
        <h4>Mochila grande</h4>
        <ul class="u-pl-2x">
          <li>Roupa interior para 8 dias (levar um par a mais para alguma emergência)</li>
          <li>Roupa de verão (calções e t-shirts para 8 dias) 👕👗</li>
          <li>Roupa de Inverno (meias para 8 noites, camisolas quentes, calças, casacos) 👖👘</li>
          <li>Pijama, também quentinho 💤</li>
          <li>Impermeável ☔</li>
          <li>Sandálias e sapatilhas resistentes e confortáveis (levar pelo menos dois pares fechados, como garantia) 👟</li>
          <li>Fato de banho e chinelos 👙</li>
          <li>Toalha de banho 🛀</li>
          <li>Artigos de higiene pessoal (escova de dentes, pasta dos dentes, escova de pentear, creme hidratante, etc.) 💆</li>
          <li>Protector solar 🌞</li>
          <li>Gel de banho e shampoo (dos biodegradáveis, para deixarmos a menor pegada possível no local de campo) ♻</li>
          <li>Saco-cama e colchonete ⛺</li>
        </ul>
      </div>
      <div class="o-grid__col u-6/12">
        <h4>Mochila pequena</h3>
        <ul class="u-pl-2x">
          <li>Farnel para o dia da partida (almoço)🍞🍪🍎</li>
          <li>Chapéu 👒</li>
          <li>Cantil com água 💦</li>
          <li>Lanterna com pilhas/bateria 🔦</li>
          <li>Instrumento musical (se tocarem algum) 🎷🎻</li>
          <li>Um livro para ler 📖</li>
          <li>Dinheiro de bolso (5€) 💶</li>
          <li>Envelopes com selos e com remetente e destinatário já escritos 📩</li>
        </ul>
        <img src="{{ site.baseurl }}/assets/images/modal-4.svg" alt="imagem" width="365px"/>
      </div>
    </div>
    <label class="o-modal-close" for="toggle_levar">voltar ao caminho</label>
  </div>
</div>