<section class="o-section o-section--3" id="morada">
  <div class="o-section__container u-12/12 u-5/12@sm">
    <div class="cta cta--3">
      <h2><span>Floresta das</span><br>Novidades</h2>
      <label class="o-modal-label" for="toggle_morada">entrar</label>
    </div>
    <a class="link-road link-road--3 placa-right placa-left@sm" href="#levar"><img src="{{ site.baseurl }}/assets/images/next.svg" alt="continuar"/></a>
  </div>
</section>
 <input type="checkbox" class="o-modal~~trigger u-sr-only" id="toggle_morada">
<div class="o-modal">
  <div class="o-modal--content">
    <div class="o-grid">
      <div class="o-grid__col u-12/12 u-5/12@sm">
        <img src="{{ site.baseurl }}/assets/images/modal-3.svg" alt="imagem"/>
      </div>
      <div class="o-grid__col u-12/12 u-7/12@sm">
        <h3>Onde estamos? Como estamos?</h3>
        <p>Desaconselhamos fortemente que os pinóquios levem telemóveis para o campo: sugerimos que se privilegie a <b>comunicação por carta!</b><br>Receber cartas é óptimo! No entanto, estas devem conter apenas tagarelices e não goludices, e outros bens semelhantes. Caso queiram muito enviar miminhos, agradecemos (e os participantes também) que seja possível partilhá-los entre todos!</p>
        <br/>
        <p>A morada para envio de correspondência é:<p>
        <p><b>Rua Padre Élio Ribeiro, n.º 136, 4755-412, Pousa</b></p>
        <br/>
        <p>Os pinóquios também podem enviar as suas cartas! Aconselhamos que levem envelopes já com selos e as moradas de destino para que nada fique por contar!</p>
      </div>
      <div class="u-12/12 u-text-r">
        <label class="o-modal-close" for="toggle_morada">voltar ao caminho</label>
      </div>
    </div>
  </div>
</div>
