<section class="o-section o-section--5" id="nao-levar">
  <div class="o-section__container u-12/12 u-5/12@sm">
    <div class="cta cta--5">
      <h2><span>Deserto do</span><br>Talvez Não</h2>
      <label class="o-modal-label o-modal-label--left" for="toggle_nao_levar">entrar</label>
    </div>
    <a class="link-road link-road--5 placa-right placa-left@sm" href="#viagens-geral"><img src="{{ site.baseurl }}/assets/images/next.svg" alt="continuar"/></a>
  </div>
</section>
<input type="checkbox" class="o-modal~~trigger u-sr-only" id="toggle_nao_levar">
<div class="o-modal">
  <div class="o-modal--content">
    <div class="o-grid">
      <div class="o-grid__col u-12/12 u-7/12@sm">
        <h3>O que não levar?</h3>
        <ul class="u-pl-2x">
          <li>Telemóveis</li>
          <li>Relógios</li>
          <li>Brinquedos electrónicos</li>
          <li>Objetos de valor</li>
          <li>Quantia de dinheiro superior a 5€<br>(está tudo pago, este dinheiro não será necessário!)</li>
        </ul>
      </div>
      <div class="o-grid__col u-12/12 u-5/12@sm">
        <img src="{{ site.baseurl }}/assets/images/modal-5.svg" alt="imagem"/>
      </div>
      <div class="u-12/12 u-text-r">
        <label class="o-modal-close" for="toggle_nao_levar">voltar ao caminho</label>
      </div>
    </div>
  </div>
</div>