<section class="o-section o-section--5" id="nao-levar">
  <div class="u-5/12">
    <div class="cta cta--5">
      <h2>Deserto do<br>Talvez Não</h2>
      <label class="o-modal-label" for="toggle_nao_levar">entrar</label>
    </div>
    <a class="link-road link-road--5 placa-left" href="#viagens-geral"><img src="{{ site.baseurl }}/assets/images/next.svg" alt="continuar"/></a>
  </div>
</section>
<input type="checkbox" class="o-modal~~trigger u-sr-only" id="toggle_nao_levar">
<div class="o-modal">
  <div class="o-modal--content">
    <div class="o-grid">
      <div class="o-grid__col u-5/12">
        <p>imagem</p>
      </div>
      <div class="o-grid__col u-7/12">
        <h3>O que não levar?</h3>
        <ul class="u-pl-2x">
          <li>Telemóveis 📞</li>
          <li>Relógios ⏰</li>
          <li>Brinquedos electrónicos 📲</li>
          <li>Objetos de valor 💍📹</li>
          <li>Quantia de dinheiro superior a 10€<br>(está tudo pago, este dinheiro não será necessário!) 💸</li>
        </ul>
      </div>
    </div>
    <label class="o-modal-close" for="toggle_nao_levar">voltar ao caminho</label>
  </div>
</div>