<section class="o-section" id="viagens-volta">
  <h2>VIAGENS DE VOLTA - 13/08/2022</h2>
  <div class="u-hidden">
    <p>Os Pinóquios seguem todos juntos do campo de autocarro até ao Porto, onde os participantes que seguem para Coimbra e Lisboa apanham o mesmo comboio - IC620.<br>Tenham atenção às horas de chegada a cada estação!</p>

    <div>
      <h3>Porto-Campanhã</h3>
      <p>Hora de chegada do autocarro: 16h30</p>

      <p>Animadoras que acompanham os pinóquios:</p>
      <p>Mariana Saúde - 912 668 910</p>
      <p>Isabel Aparício - 918 693 892</p>
    </div>

    <div>
      <h3>Coimbra-B</h3>
      <p>Hora de chegada do comboio: 18h59</p>

      <p>Animador que acompanha os pinóquios:</p>
      <p>Pedro Abranches - 910 772 737</p>
    </div>

    <div>
      <h3>Lisboa Sta Apolónia</h3>
      <p>Hora de chegada do comboio: 21h</p>

      <p>Animadores que acompanham os pinóquios:</p>
      <p>Luís Almeida - 916 426 323</p>
      <p>João Santos - 932 677 339</p>
    </div>
  </div>
  <a href="#covid">Continuar</a>
</section>
