<section class="o-section o-section--6" data-flout="justify-end-- wrap--">
  <div class="o-section__container u-12/12 u-5/12@sm">
    <h2 class="cta-extra">Mas… Nunca mais chega o dia desta viagem?!</h2>
  </div>
</section>
<section class="o-section text-center" id="viagens-geral">
  <div class="o-section__container u-12/12 u-5/12@sm">
    <div class="cta cta--6">
      <h2><span>Aldeia da</span><br>Estação</h2>
      <label class="o-modal-label" for="toggle_viagens">entrar</label>
    </div>
    <a class="link-road link-road--6 placa-right" href="#viagens-ida-volta"><img src="{{ site.baseurl }}/assets/images/next.svg" alt="continuar"/></a>
  </div>
</section>
<input type="checkbox" class="o-modal~~trigger u-sr-only" id="toggle_viagens">
<div class="o-modal">
  <div class="o-modal--content">
    <div class="o-grid">
      <div class="o-grid__col u-12/12 u-5/12@sm">
        <img src="{{ site.baseurl }}/assets/images/modal-6.svg" alt="imagem"/>
      </div>
      <div class="o-grid__col u-12/12 u-7/12@sm">
        <h3>Informações importantes antes de partir!</h3>
        <p>No dia 5 de Agosto, em cada cidade (Lisboa, Porto e Coimbra), estarão animadores para receber os pinóquios e acompanhá-los nas viagens até ao campo.</p>
        <br/>
        <p>Estes animadores estarão à espera de receber:</p>
        <ul class="u-pl-2x">
          <li><b>Termos de responsabilidade assinados</b></li>
          <li><b>Documentos identificativos dos pinóquios</b></li>
          <li><b>Informações importantes sobre os participantes ou observações recentes pertinentes (por escrito, por favor!) - tudo é importante, não deixem nada por nos dizer.</b></li>
          <li><b>Medicação específica que estejam a tomar!</b></li>
        </ul>
        <br/>
        <p><b>Nota importante:</b> se tomarem medicação específica, esta deve ser <b>entregue diretamente aos animadores</b> (em saco identificado, selado e com instruções por escrito no interior).</p>
        <br/>
        <p>No campo existe uma farmácia “básica” para os percalços normais de um acampamento onde brincamos, caminhamos e cantamos até a garganta doer.</p>
      </div>
      <div class="u-12/12 u-text-r">
        <label class="o-modal-close" for="toggle_viagens">voltar ao caminho</label>
      </div>
    </div>
  </div>
</div>