<section class="o-section--double o-section--7" id="viagens-ida-volta" data-flout="justify-between-- wrap--">
  <div class="o-section__container--double u-12/12 u-5/12@sm">
    <div class="cta cta--7">
      <h2><span>Vila Nova de</span><br>IDAS</h2>
      <label class="o-modal-label o-modal-label--left" for="toggle_ida">entrar</label>
    </div>
    <a class="link-road link-road--7 placa-right u-hidden-@sm" href="#viagens-volta"><img src="{{ site.baseurl }}/assets/images/next.svg" alt="continuar"/></a>
  </div>
  <div class="o-section__container--double u-12/12 u-5/12@sm" id="viagens-volta">
    <div class="cta cta--7">
      <h2><span>Vila Nova de</span><br> VOLTAS</h2>
      <label class="o-modal-label o-modal-label--right" for="toggle_volta">entrar</label>
    </div>
    <a class="link-road link-road--7 placa-right" href="#covid"><img src="{{ site.baseurl }}/assets/images/next.svg" alt="continuar"/></a>
  </div>
</section>
<input type="checkbox" class="o-modal~~trigger u-sr-only" id="toggle_ida">
<div class="o-modal">
  <div class="o-modal--content">
    <div class="o-grid">
      <div class="o-grid__col u-12/12 u-7/12@sm">
        <h3>Viagens de IDA<br>sexta-feira, 05/08/2022</h3>
        <p>Os pinóquios de Lisboa e de Coimbra vão apanhar um <b>autocarro da rede FlixBus</b> que os levará até Porto Campanhã, onde se vão encontrar com os pinóquios do Porto. Daqui partirão num <b>autocarro privado</b>, todos juntos, até ao local de campo.</p>
        <br>
        <p>As horas de partida são as seguintes:</p>
      </div>
      <div class="o-grid__col u-12/12 u-5/12@sm">
        <img src="{{ site.baseurl }}/assets/images/modal-7.svg" alt="imagem"/>
      </div>
      <div class="o-grid__col u-12/12 u-4/12@sm">
        <h4>Lisboa</h4>
        <p class="u-text-u">Local:</p>
        <p>Lisboa Oriente - Terminal Flixbus</p><a href="https://goo.gl/maps/8XMWEyrTf99kdAkWA" target="_blank">ver no Google Maps</a>
        <br><br>
        <p class="u-text-u">Hora de partida do autocarro:</p>
        <p class="u-text-imp"><b>10h35</b></p>
        <br>
        <p><i>Pedimos que se encontrem no local de embarque com a seguinte <b>antecedência:</b></i></p>
        <p class="u-text-imp">1h antes da partida, às <b class="u-text-u">9h30/35</b></p>
        <br>
        <p class="u-text-u">Animadoras:</p>
        <p>Constança Ribeiro - 963 023 064</p>
        <p>Laura Mesquita - 934 144 124</p>
      </div>
      <div class="o-grid__col u-12/12 u-4/12@sm">
        <h4>Coimbra</h4>
        <p class="u-text-u">Local:</p>
        <p>Rua do Padrão - Terminal Flixbus</p><a href="https://goo.gl/maps/UJboeEsj8iTnJhat7" target="_blank">ver no Google Maps</a>
        <br><br>
        <p class="u-text-u">Hora de partida do autocarro:</p>
        <p class="u-text-imp"><b>13h00</b></p>
        <br>
        <p><i>Pedimos que se encontrem no local de embarque com a seguinte <b>antecedência:</b></i></p>
        <p class="u-text-imp">45 min antes da partida, às <b class="u-text-u">12h15</b></p>
        <br>
        <p class="u-text-u">Animador:</p>
        <p>Raimundo - 965 636 553</p>
      </div>
      <div class="o-grid__col u-12/12 u-4/12@sm">
        <h4>Porto</h4>
        <p class="u-text-u">Local:</p>
        <p>Porto Campanhã - Terminal Flixbus</p>
        <a href="https://goo.gl/maps/4W8YRErmFxB9pDAk7" target="_blank">ver no Google Maps</a>
        <br><br>
        <p class="u-text-u">Hora de partida do autocarro:</p>
        <p class="u-text-imp"><b>14h30/45</b></p>
        <br>
        <p><i>Pedimos que se encontrem no local de embarque com a seguinte <b>antecedência:</b></i></p>
        <p class="u-text-imp">30 min antes da partida, às <b class="u-text-u">14h</b></p>
        <br>
        <p class="u-text-u">Animadoras:</p>
        <p>Beatriz Rodrigues - 968 362 314</p>
        <p>Isabel Aparício - 918 693 892</p>
      </div>
    </div>

    <div class="u-12/12 u-text-r">
      <label class="o-modal-close" for="toggle_ida">voltar ao caminho</label>
    </div>
  </div>
</div> 
<input type="checkbox" class="o-modal~~trigger u-sr-only" id="toggle_volta">
<div class="o-modal">
  <div class="o-modal--content">
    <div class="o-grid">
      <div class="o-grid__col u-12/12 u-7/12@sm">
        <h3>Viagens de VOLTA<br>sábado, 13/08/2022</h3>
        <p>Os pinóquios seguem todos juntos do campo de autocarro até ao Porto, onde os participantes que seguem para Coimbra e Lisboa apanham o mesmo comboio - IC620.<br>Tenham atenção às horas de chegada a cada estação!</p>
        <br/>
      </div>
      <div class="o-grid__col u-12/12 u-5/12@sm">
        <img src="{{ site.baseurl }}/assets/images/modal-7.svg" alt="imagem"/>
      </div>
      <div class="o-grid__col u-12/12 u-4/12@sm">
        <h4>Porto</h4>
        <p class="u-text-u">Local:</p>
        <p>Estação de Porto-Campanhã</p>
        <br>
        <p class="u-text-u">Hora de chegada do autocarro:<p>
        <p class="u-text-imp"><b>16h30</b></p>
        <br>
        <p class="u-text-u">Animadoras:</p>
        <p>Mariana Saúde - 912 668 910</p>
        <p>Isabel Aparício - 918 693 892</p>
      </div>
      <div class="o-grid__col u-12/12 u-4/12@sm">
        <h4>Coimbra</h4>
        <p class="u-text-u">Local:</p>
        <p>Estação de Coimbra-B</p>
        <br>
        <p class="u-text-u">Hora de chegada do comboio:</p>
        <p class="u-text-imp"><b>18h59</b></p>
        <br>
        <p class="u-text-u">Animador:</p>
        <p>Pedro Abranches - 910 772 737</p>
      </div>
      <div class="o-grid__col u-12/12 u-4/12@sm">
        <h4>Lisboa</h4>
        <p class="u-text-u">Local:</p>
        <p>Estação de Lisboa Sta Apolónia</p>
        <br>
        <p class="u-text-u">Hora de chegada do comboio:</p>
        <p class="u-text-imp"><b>21h</b></p>
        <br>
        <p class="u-text-u">Animadores:</p>
        <p>Luís Almeida - 916 426 323</p>
        <p>João Santos - 932 677 339</p>
      </div>
      <div class="u-12/12 u-text-r">
        <label class="o-modal-close" for="toggle_volta">voltar ao caminho</label>
      </div>
    </div>
  </div>
</div>
