<section class="o-section--double o-section--7" id="viagens-ida-volta" data-flout="justify-between-- wrap--">
  <div class="o-section__container--double u-12/12 u-5/12@sm">
    <div class="cta cta--7">
      <h2><span>Vila Nova de</span><br>IDAS</h2>
      <label class="o-modal-label" for="toggle_ida">entrar</label>
    </div>
    <a class="link-road link-road--7 placa-right u-hidden-@sm" href="#viagens-volta"><img src="{{ site.baseurl }}/assets/images/next.svg" alt="continuar"/></a>
  </div>
  <div class="o-section__container--double u-12/12 u-5/12@sm" id="viagens-volta">
    <div class="cta cta--7">
      <h2><span>Vila Nova de</span><br> VOLTAS</h2>
      <label class="o-modal-label" for="toggle_volta">entrar</label>
    </div>
    <a class="link-road link-road--7 placa-right" href="#covid"><img src="{{ site.baseurl }}/assets/images/next.svg" alt="continuar"/></a>
  </div>
</section>
<input type="checkbox" class="o-modal~~trigger u-sr-only" id="toggle_ida">
<div class="o-modal">
  <div class="o-modal--content">
    <div class="o-grid">
      <div class="o-grid__col u-7/12">
        <h3>Viagens de IDA<br>sexta-feira, 05/08/2022</h3>
        <p>Numa situação normal, os Pinóquios de Lisboa e Coimbra iriam até Porto-Campanhã de comboio, onde se encontrarariam com os Pinóquios do Porto. Daí, juntos, seguiriam de autocarro para o local de campo.</p>
        <br>
      </div>
      <div class="o-grid__col u-5/12">
        <img src="{{ site.baseurl }}/assets/images/modal-7.svg" alt="imagem"/>
      </div>
      <div class="o-grid__col u-12/12">
        <p><b>No entanto</b>, a CP apanhou-nos de surpresa e vai estar em greve! Por isso, estamos a providenciar um transporte alternativo para levar os nossos Pinóquios até ao campo.<br><b>Assim que tivermos essa informação, atualizaremos esta página e enviaremos a informação completa por e-mail para todos.</b></p>
        <br/>
        <p>Deixamos aqui, de qualquer modo aqui os animadores acompanhantes de cada cidade.</p>
      </div>
      <div class="o-grid__col u-4/12">
        <h4>Lisboa</h4>
        <p>Constança Ribeiro - 963 023 064</p>
        <p>Laura Mesquita - 934 144 124</p>
      </div>
      <div class="o-grid__col u-4/12">
        <h4>Coimbra</h4>
        <p>Beatriz Beato  - 964 165 990</p>
      </div>
      <div class="o-grid__col u-4/12">
        <h4>Porto</h4>
        <p>Beatriz Rodrigues - 968 362 314</p>
        <p>Isabel Aparício - 918 693 892</p>
      </div>
    </div>
    <label class="o-modal-close" for="toggle_ida">voltar ao caminho</label>
  </div>
</div> 
<input type="checkbox" class="o-modal~~trigger u-sr-only" id="toggle_volta">
<div class="o-modal">
  <div class="o-modal--content">
    <div class="o-grid">
      <div class="o-grid__col u-7/12">
        <h3>Viagens de VOLTA<br>sábado, 13/08/2022</h3>
        <p>Os Pinóquios seguem todos juntos do campo de autocarro até ao Porto, onde os participantes que seguem para Coimbra e Lisboa apanham o mesmo comboio - IC620.<br>Tenham atenção às horas de chegada a cada estação!</p>
        <br/>
      </div>
      <div class="o-grid__col u-5/12">
        <img src="{{ site.baseurl }}/assets/images/modal-7.svg" alt="imagem"/>
      </div>
      <div class="o-grid__col u-4/12">
        <h4>Porto-Campanhã</h4>
        <p>Hora de chegada do autocarro:<br><b>16h30</b></p>
        <br/>
        <p>Animadoras:</p>
        <p>Mariana Saúde - 912 668 910</p>
        <p>Isabel Aparício - 918 693 892</p>
      </div>
      <div class="o-grid__col u-4/12">
        <h4>Coimbra-B</h4>
        <p>Hora de chegada do comboio:<br><b>18h59</b></p>
        <br/>
        <p>Animador:</p>
        <p>Pedro Abranches - 910 772 737</p>
      </div>
      <div class="o-grid__col u-4/12">
        <h4>Lisboa Sta Apolónia</h4>
        <p>Hora de chegada do comboio:<br><b>21h</b></p>
        <br/>
        <p>Animadores:</p>
        <p>Luís Almeida - 916 426 323</p>
        <p>João Santos - 932 677 339</p>
      </div>
    </div>
    <label class="o-modal-close" for="toggle_volta">voltar ao caminho</label>
  </div>
</div>
