.o-modal\~\~trigger{
   position: fixed;
}

.o-modal{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(get-color(grey,100),0.6);
  transition: max-height 0.5s ease-in-out;
  display: none;
  z-index: 1000;
  .o-modal\~\~trigger:checked + & {
    display: block;
  }
}



.o-modal--content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 98%;
  overflow: scroll;
  width: 1000px;
  max-width: 98%;
  border-radius: 6px;
	padding: 32px;
	background: get-color(cream);
	box-shadow: 1px 1px 8px rgba(get-color(black), 0.10);
  img{
    width: 100%;
  }
}

.o-modal-label{
	display: inline-block;
  cursor: pointer;
  color: get-color(ocean);
  font-family: 'Calistoga', cursive;
  font-size: 20px;
  font-weight: 700;
  z-index: 20;
  transition: all 0.2s ease-in-out;
  animation: crescendo 0.5s alternate infinite ease-in;
  &:hover{
  	color: get-color(purple);
	}
}

.o-modal-close{
  margin-top: 16px;
	display: inline-block;
  cursor: pointer;
  color: get-color(ocean);
  font-family: 'Calistoga', cursive;
  font-size: 20px;
  font-weight: 700;
  z-index: 20;
  transition: all 0.2s ease-in-out;
  &:hover{
  	color: get-color(purple);
	}
}