
.o-section{
  display: block;
  margin:  0px auto;
  width: 100%;
  height: 400px;
  padding: $qnorr-baseline*20 0 $qnorr-baseline*5;
}

.o-hero{
  display: block;
  margin: 40px auto 0px;
  width: 100%;
  height: 540px;
  padding: $qnorr-baseline*5 0;
}

.o-section--small{
  display: block;
  margin: 0 auto;
  width: 100%;
  padding: $qnorr-baseline*3 0;
}
