
.o-section{
  display: block;
  margin: 48px auto;
  width: 100%;
  padding: $qnorr-baseline*20 0 $qnorr-baseline*5;
}

.o-section--small{
  display: block;
  margin: 0 auto;
  width: 100%;
  padding: $qnorr-baseline*3 0;
}
