body{
  
  font-family: 'Lato', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: get-color(black);

  &.modal-open{
    overflow: hidden;
  }
  @include mappy-bp(sm){
    background-image: url("/assets/images/bg-experience.svg");
    background-size: 1440px;
    background-position: center top;
  } 
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Calistoga', cursive;
  //font-family: 'Amatic SC', cursive;
  font-weight: 600;
  font-style: normal;
  
}

h1{
  font-size: 60px;
  margin-bottom: 0px;
  @include mappy-bp(sm){
    font-size: 90px;
  }
}

h2{
  font-size: 40px;
  line-height: 1.2;
  margin-bottom: 8px;
  span{
   font-size: 24px; 
  }
}


h3{
  font-size: 24px;
  margin-bottom: 24px;
}

h4,h5,h6{
  font-size: 20px;
  margin-bottom: 16px;
}

b{
  font-weight: 700;
}

@keyframes crescendo {
  0%   {transform: scale(1);}
  100% {transform: scale(1.05);}
}

a{
  transition: all 0.2s;
  font-weight: 600;
  color: get-color(ocean);
  
}

.text-link{
  display: inline-block;
  font-family: 'Calistoga', cursive;
  font-size: 20px;
  animation: crescendo 0.5s alternate infinite ease-in;
  &:hover{
    color: get-color(purple);
  }
}




.placa-right{
  img{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  &:before{
    content: 'seguir viagem';
    position: absolute;
    right: 33px;
    bottom: 8px;
    line-height: 1.2;
    text-align: right;
    font-size: 14px;

  }
  @include mappy-bp(sm){
    &:before{
      display: none;
    }
    &:hover{
      &:before{
        display: block;
      }
    }
  }
}

.placa-left\@sm{
  @include mappy-bp(sm){
    img{
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
    &:before{
      right: auto;
      left: 33px;
    }
  }
}

.link-road{
  position: absolute;
  display: block;
  width: 60px;
  height: 96px;
  right: 0px;
  bottom:0px;
  cursor: pointer;
  font-weight: 600;
  z-index: 20;
  transition: all 0.2s ease-in-out;
  animation: crescendo 0.5s alternate infinite ease-in;
  img{
    width: 100%;
  } 
}

.link-road--1{
  @include mappy-bp(sm){
    right: 0px;
    bottom:-40px;
  } 
}

.link-road--2{
  @include mappy-bp(sm){
    right: auto;
    left: -30px;
    bottom:-60px;
  } 
}

.link-road--3,
.link-road--8{
  @include mappy-bp(sm){
    right: 0px;
    bottom:-180px;
  } 
}

.link-road--4{
  @include mappy-bp(sm){
    right: auto;
    left: 0px;
    bottom:-160px;
  } 
}

.link-road--5{
  @include mappy-bp(sm){
    right: 0px;
    bottom:-60px;
  } 
   
}

.link-road--6{
  @include mappy-bp(sm){
    right: -100px;
    bottom:-100px;
  }  
}

.link-road--7{
  @include mappy-bp(sm){
    right: auto;
    left: 0px;
    bottom:-120px;
  } 
}

.sub-title{
  font-size: 30px;
  font-family: 'Calistoga', cursive;
  font-weight: 600;
}


.theme-title{
  font-size: 24px;
  font-family: 'Calistoga', cursive;
  color: get-color(ocean);
  font-weight: 600;
  margin: 20px 0px 12px;
}