<section class="o-section" id="viagens-geral">
  <h2>Mas… NUNCA MAIS CHEGA O PRIMEIRO DIA DESTA VIAGEM!</h2>

  <p>No dia 5 de Agosto, em cada estação de comboio (Lisboa Sta. Apolónia, Porto-Campanhã e Coimbra-B) estarão animadores para receber os pinóquios e acompanhá-los nas viagens de comboio e de autocarro.</p>

  <p>Estes animadores estarão à espera de receber:</p>
  <ul>
    <li>Termos de responsabilidade assinados</li>
    <li>Documentos identificativos dos Pinóquios</li>
    <li>Informações importantes sobre os participantes ou observações recentes pertinentes (por escrito, por favor!) - tudo é importante, não deixem nada por nos dizer.</li>
    <li>Medicação específica que estejam a tomar!</li>
  </ul>

  <p><b>Nota importante:</b>se tomarem medicação específica, esta deve ser <i>entregue diretamente aos animadores, nas estações de comboio</i> (em saco identificado, selado e com instruções por escrito no interior) 💊💊</p>

  <p>No campo existe uma farmácia “básica” para os percalços normais de um acampamento onde brincamos, caminhamos e cantamos até a garganta doer.</p>
</section>
