<section class="o-section" id="viagem-ida">
  <h2>VIAGENS DE IDA - 05/08/2022</h2>
  <p>Os Pinóquios de Lisboa e Coimbra vão até Porto-Campanhã de comboio, onde se encontrarão com os Pinóquios do Porto. Daí, juntos, seguirão de autocarro para o local de campo.</p>

  <p>Pedimos que no dia da ida estejam nas estações respetivas <b>no mínimo 45 minutos</b> antes do horário de partida <b>(somos muitos!)</b>. Os bilhetes são comprados pelo Mocamfe.</p>

  <div>
    <h3>Lisboa Sta Apolónia</h3>
    <p>Hora de partida do comboio IC621: 11h30</p>

    <p>Animadoras na estação:</p>
    <p>Constança Ribeiro - 963 023 064</p>
    <p>Laura Mesquita - 934 144 124</p>
  </div>

  <div>
    <h3>Coimbra-B</h3>
    <p>Hora de partida do comboio IC621: 13h30</p>

    <p>Animadora na estação:</p>
    <p>Beatriz Beato  - 964 165 990</p>
  </div>

  <div>
    <h3>Porto- Campanhã</h3>
    <p>Hora de partida do autocarro: 15h30</p>

    <p>Animadoras na estação:</p>
    <p>Beatriz Rodrigues - 968 362 314</p>
    <p>Isabel Aparício - 918 693 892</p>
  </div>
</section>
