
<input type="radio" class="o-traveler~~trigger u-sr-only" id="pato" value="pato" name="viajante">
<div class="c-traveler static">
	<img src="{{ site.baseurl }}/assets/images/pato.svg" alt="viajante" />
</div>

<input type="radio" class="o-traveler~~trigger u-sr-only" id="coelho" value="coelho" name="viajante" checked>
<div class="c-traveler static">
	<img src="{{ site.baseurl }}/assets/images/coelho.svg" alt="viajante"/>
</div>

<input type="radio" class="o-traveler~~trigger u-sr-only" id="ovelha" value="ovelha" name="viajante">
<div class="c-traveler static">
	<img src="{{ site.baseurl }}/assets/images/ovelha.svg" alt="viajante"/>
</div>

<input type="radio" class="o-traveler~~trigger u-sr-only" id="veado" value="veado" name="viajante">
<div class="c-traveler static">
	<img src="{{ site.baseurl }}/assets/images/veado.svg" alt="viajante"/>
</div>