.c-traveler-text{
  display: inline-block;
  font-family: 'Calistoga', cursive;
  font-size: 20px;
  text-align: right;
}

.c-traveler-label{
  position: absolute;
  top:32px;
  width: 106px;
  height: 94px;
  transition: all 0.2s;
  z-index: 20;
  img{
    width: 100%;
    height: 100%;
  }

  &:nth-child(1){
    right: 0%;
  }
  &:nth-child(2){
    right: 23%;
  }
  &:nth-child(3){
    right: 46%;
  }
  &:nth-child(4){
    right: 69%;
  }
  &:hover{
    &:before{
      content: '';
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background-image: url("/assets/images/selection.svg");
      animation: crescendo 0.5s alternate infinite ease-in;
    }
  }
}

.o-traveler\~\~trigger{
   position: fixed;
}
.c-traveler{
  transform-origin: top left;
  position: fixed;
  top: $qnorr-baseline*20;
  left: 50%;
  transform: translateX(-50%);
  width: 106px;
  height: 94px;
  transition: left 0.2s;
  z-index: 30;
  display: none;
  img{
    width: 100%;
    height: 100%;
  }

  &:before{
      content: '';
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background-image: url("/assets/images/selection.svg");
      animation: crescendo 0.5s alternate infinite ease-in;
    }

  .o-traveler\~\~trigger:checked + & {
    display: block;
  }
}